@import "partials/inputs";

$color-valid: var(--purple-2);
$color-invalid: var(--orange);

.form-control {
  @include input-main();
  &::placeholder {
    color: var(--gray-2);
  }
}

:host(.ng-touched.ng-valid), :host(.ng-dirty.ng-valid) {
  .form-control {
    @include color-input($color-valid, false);
  }
}

:host(.ng-touched.ng-invalid), :host(.ng-dirty.ng-invalid) {
  .form-control {
    @include color-input($color-invalid, false);
  }
}