@import "abstracts/mixins";

.avatar {
  @include flex(center, center);
  height: 50px;
  cursor: pointer;
  &-label {
    @include flex(center, center);
    position: relative;
    min-width: 50px;
    width: 50px;
    height: 50px;
    border: 2px solid var(--purple-2);
    border-radius: var(--border-radius-25);
    cursor: pointer;
    input {
      display: none;
    }
    &.not-image {
      &::after {
        content: "+";
        @include flex(center, center);
        position: absolute;
        top: 34px;
        right: 0;
        width: 15px;
        height: 15px;
        font-size: var(--f-12);
        padding-left: 1px;
        background-color: var(--purple-2);
        border-radius: var(--border-radius-25);
        font-weight: 900;
      }
    }
  }
  &-placeholder {
    @include font($size: var(--f-14), $line-height: 14px);
    margin-left: 15px;
    cursor: pointer;
    width: auto;
  }
  &-icon {
    font-size: var(--f-20);
  }
  img {
    max-width: 100%;
    border-radius: var(--border-radius-25);
  }
}