<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div [ngClass]="{ 'd-none': !showCropper }" class="cropper-container">
  <div class="cropper" (click)="$event.stopPropagation()">
    <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="settingImageCropper.maintainAspectRatio"
      [roundCropper]="settingImageCropper.roundCropper"
      [cropperMinWidth]="settingImageCropper.cropperMinWidth"
      [cropperMinHeight]="settingImageCropper.cropperMinWidth"
      format="png"
      (imageCropped)="imageCropped($event)"
      (loadImageFailed)="loadImageFailed()">
    </image-cropper>
    <div class="buttons-section">
      <button class="btn" type="button" (click)="cancelCrop()">CANCELAR</button>
      <button class="btn" type="button" (click)="finishCrop()">RECORTAR Y GUARDAR</button>
    </div>
  </div>
</div>