@import "abstracts/mixins";

.content {
  @include flex(flex-start, center, column);
  &-title {
    @include font(
      $font-family: var(--lato-font),
      $size: var(--f-35),
      $weight: 900
    );
  }
  &-subtitle {
    @include font(
      $font-family: var(--lato-font),
      $size: var(--f-16),
      $weight: 400
    );
    text-align: center;
    margin: 40px 0px;
  }
  &-button {
    margin-bottom: 40px;
  }
  &-links {
    @include flex();
    gap: 10px;
    .link {
      font-size: var(--f-12);
      color: var(--glaucous);
      text-decoration: underline;
      cursor: pointer;
    }
  }
}