<section class="auth-container">
  <section class="auth-form">
    <div class="auth-body">
      <div class="auth-cancel">
        <button class="auth-cancel" (click)="cancelLogin()">
          <span>AHORA NO</span>
          <i class="iconlace iconlace-cross ml-6"></i>
        </button>
      </div>
      <div class="auth-logo-container">
        <img src="assets/images/logo-login.png" alt="Logo" />
      </div>
      <main class="auth-content" [@fadeInOut]>
        <router-outlet></router-outlet>
      </main>
    </div>
  </section>
</section>
