<section class="content">
  <div class="content-title">Recupera tu contraseña</div>
  <div class="content-subtitle">
    Ingresa el correo electrónico asociado a tu cuenta:
  </div>
  <div class="content-form">
    <ng-container *ngTemplateOutlet="form"></ng-container>
  </div>
  <div class="content-links">
    <a class="link" target="_blank" [routerLink]="faq">Ayuda</a>
    <a class="link" [href]="emailSupport">Soporte</a>
  </div>
</section>

<ng-template #form>
  <form
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="sendEmail()"
    novalidate
    autocomplete="off"
  >
    <div class="form-group">
      <input
        formControlName="email"
        type="email"
        class="form-control"
        id="email"
        placeholder="Dirección de correo electrónico"
      />
    </div>

    <div class="content-subtitle small">
      Ingresa el correo electrónico asociado a tu cuenta:
    </div>

    <div class="content-buttons mt-4">
      <button type="button" class="btn btn-primary" [appApplyClass]="backButtonClassName" (click)="goBack()">VOLVER</button>
      <button type="submit" class="btn btn-primary" [appApplyClass]="buttonClassName" [disabled]="disableButton">
        @if(isApiLoading()) {
          <app-loading-bounce [isLoading]="isApiLoading()" [color]="'#FFF'"></app-loading-bounce>
        } @else {
          ENVIAR
        }
      </button>
    </div>
  </form>
</ng-template>
