@import "abstracts/mixins";

.content {
  @include flex(flex-start, center, column);
  &-title {
    @include font(
      $font-family: var(--lato-font),
      $size: var(--f-35),
      $weight: 900
    );
    text-align: center;
  }
  &-subtitle {
    @include font(
      $font-family: var(--lato-font),
      $size: var(--f-16),
      $weight: 400
    );
    text-align: center;
    margin: 40px 0px 0px 0px;
  }
  &-form {
    width: 100%;
    padding: 0 20px 0 25px;
    margin: 40px 0px 20px 0px;
  }
  &-links {
    @include flex($justifyContent: center);
    gap: 10px;
    .link {
      font-size: var(--f-12);
      color: var(--glaucous);
      text-decoration: underline;
      cursor: pointer;
    }
  }
}