<section class="content">
  @if(isValidatingToken()) {
    <ng-container *ngTemplateOutlet="loading; context: { isLoading: isValidatingToken() }"></ng-container>
  } @else {
    <ng-container *ngTemplateOutlet="formResetPassword"></ng-container>
  }
</section>

<ng-template #formResetPassword>
  @if (isFromForgotPassword()) {
    <ng-container *ngTemplateOutlet="infoForgotPassword"></ng-container>
  } @else {
    <ng-container *ngTemplateOutlet="infoMigration"></ng-container>
  }
  <div class="content-form">
    <ng-container *ngTemplateOutlet="form"></ng-container>
  </div>
  <div class="content-links">
    <a class="link" target="_blank" [routerLink]="faq">Ayuda</a>
    <a class="link" [href]="emailSupport">Soporte</a>
  </div>
</ng-template>

<ng-template #infoForgotPassword>
  <div class="content-title">¡Cambia tu contraseña!</div>
  <div class="content-subtitle">
    Es necesario que cambies tu contraseña para<br />
    poder ingresar. <br />
    <br />
    <strong>{{ email() }}</strong>
  </div>
</ng-template>

<ng-template #infoMigration>
  <div class="content-title">¡Gracias!</div>
  <div class="content-subtitle">
    Ingresa los siguientes datos para crear tu cuenta en Enlace+.
  </div>
</ng-template>

<ng-template #form>
  <form
    [formGroup]="resetPasswordForm"
    (ngSubmit)="resetPassword()"
    novalidate
    autocomplete="off">
    <div class="form-group mb-3">
      <app-password-plus formControlName="password" [placeholder]="'Contraseña (al menos 8 caracteres)'"></app-password-plus>
      @if (hasError('minlength', passwordControl)) {
        <div class="invalid-feedback">
          Tu contraseña debe tener mínimo 8 caracteres.
        </div>
      }
    </div>
    <div class="form-group">
      <app-password-plus formControlName="repeatPassword" [placeholder]="'Confirmar contraseña'"></app-password-plus>
      @if (hasError('mustMatch', repeatPasswordControl)) {
        <div class="invalid-feedback">
          Las contraseñas no coinciden.
        </div>
      }
    </div>

    <button
      type="submit"
      class="btn btn-primary mt-4"
      [appApplyClass]="buttonClassName"
      [disabled]="disableButton">
      @if(isApiLoading()) {
        <ng-container *ngTemplateOutlet="loading; context: { isLoading: isApiLoading() }"></ng-container>
      } @else {
        INGRESAR
      }
    </button>
  </form>
</ng-template>

<ng-template #loading let-isLoading="isLoading">
  <app-loading-bounce [isLoading]="isLoading" [color]="'#FFF'"></app-loading-bounce>
</ng-template>
